
:root {
  display: block;
text-align: center;
background-color: rgb(42, 42, 46);
color: white
}

.loading{
 
  font-size: 1.5em;
  
}

.headerAvatar{
  max-width: 5vw;
}

.selectedUser{
  max-height: 30px;
}


/* DESKTOP FORMATTING */
@media only screen and (min-width: 768px) {

header {
  margin: 2px 2px 10px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 30vw 2px 30vw}

.welcomeText {
  font-size: 5em;
}

.welcomeSubText{
  font-size: 2em;
}

a:link {
  color: white
}

a:visited {
  color: white;
}

.reviewList{
    
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em 10vw 2em 10vw;
  padding: 1em;
}

.reviewCard{

  margin: 1em 1em 1em 1em;
  list-style: none;
  font-size: .8em;
  max-width: 20vw;
  background-color: rgb(32, 54, 54);
  color: white;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 2px 2px rgb(19, 19, 19);
  border: 3px rgb(26, 26, 26) solid;
  cursor: pointer;
  
  

}

.reviewCardImage{
  max-width: 100%;
  border-radius: 18px;
}
.expandedReview{
  max-width: 80vw;
  margin: 0px 10vw 0px 10vw;

}

#expandedReviewImg{
  max-width: 70vw;
  border-radius: 20px;
  margin: 2em 0em 2em 0em;
}

.commentsList{
   max-width: 90vw;
  margin: 0em 5vw 2em 5vw;
  padding: 1em;


}

.commentCard{

  margin: 1em 1em 1em 1em;
  list-style: none;
  border: 3px rgb(26, 26, 26) solid;
  font-size: .8em;
  max-width: 100%;
  background-color: rgb(32, 54, 54);
  color: white;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 2px 2px rgb(19, 19, 19);
  
}

.commentCardText{
padding: .5em;
}

.commentsSection{
  background-color: rgb(78, 74, 68);
  border: 2px solid black;
}

}

/* MOBILE FORMATTING */
@media only screen and (max-width: 768px) {

 
header {
  margin: 2px 2px 10px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 30vw 2px 30vw}

.welcomeText {
  font-size: 5em;
}

.welcomeSubText{
  font-size: 2em;
}

a:link {
  color: white
}

a:visited {
  color: white;
}

.reviewList{
    
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em 5vw 2em 5vw;
  padding: 1em;
}

.reviewCard, .userCard{

  margin: 1em 1em 1em 1em;
  list-style: none;
  border: 3px rgb(26, 26, 26) solid;
  font-size: .8em;
  max-width: 100%;
  background-color: rgb(32, 54, 54);
  color: white;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 2px 2px rgb(19, 19, 19);
  cursor: pointer;
  
}

.reviewCardText, .userCardText{
  padding: 5px;
}

.reviewCardImage, .userCardImage{
  max-width: 100%;
  border-radius: 18px;
  
}

.expandedReview{
  max-width: 80vw;
  margin: 0px 10vw 0px 10vw;

}

#expandedReviewImg{
  max-width: 70vw;
  border-radius: 20px;
  margin: 2em 0em 2em 0em;
}

.commentsList{
   max-width: 90vw;
 margin: 0em 5vw 2em 5vw;
  padding: 1em;


}

.commentCard{

  margin: 1em 1em 1em 1em;
  list-style: none;
  border: 3px rgb(26, 26, 26) solid;
  font-size: .8em;
  max-width: 100%;
  background-color: rgb(32, 54, 54);
  color: white;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 2px 2px rgb(19, 19, 19);
  
}

.commentCardText{
padding: .5em;
}

.commentsSection{
  background-color: rgb(78, 74, 68);
  border: 2px solid black;
}

.commentForm{
  max-width: 80vw;
  margin: 2em 2em 2em 2em;
  display: flex-box;
  
}
}