* {
  margin: 0;
  padding: 0;
}

:root {
  display: block;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(67, 67, 67);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}
.body {
  margin: 0;
}
.loading {
  font-size: 1.5em;
  margin: 4em;
}
.errormsg {
  color: rgb(232, 100, 100);
}

/* DESKTOP FORMATTING */
@media only screen and (min-width: 768px) {
  :root {
    margin-top: 10vw;
  }
}
