.headerAvatar {
  height: 80%;
  width: auto;
  object-fit: contain;
  margin: 0 auto;
}
.selectedUser {
  height: 15vw;
  width: 15vw;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 0%;
  overflow: hidden;
}
#userNavIconText {
  font-size: 3vw;
}
header {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #79c7df;
}
#headerText {
  font-size: 4vw;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7vw;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15vw 10px 15vw;
  background-color: #e7fff8;
  border-bottom: solid 2px;
}
.welcomeText {
  font-size: 15vw;
  margin-top: 10vh;
}
.welcomeSubText {
  font-size: 5vw;
  margin: 2vh;
}
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(0, 0, 0);
}
footer {
  position: fixed;
  bottom: 0;
  font-size: 0.5rem;
  margin-bottom: 10px;
}
.userNavIcon {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  /* HEADER AND NAV */

  header {
    position: fixed;
    top: 0px;
    width: 100vw;
    padding: 0px;
  }
  #headerText {
    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7vw;
  }
  .headerAvatar {
    height: 80%;
    width: auto;
    object-fit: contain;
    margin: 0 auto;
    cursor: pointer;
  }
  .selectedUser {
    height: 3.75vw;
    width: 3.75vw;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 0%;
    overflow: hidden;
  }
  #userNavIconText {
    font-size: 1.5vw;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px 15vw 10px 5vw;
    background-color: #e7fff8;
    border-bottom: solid 2px;
    font-size: 1vw;
    position: fixed;
    top: 6.8vw;
    grid-column: 1;
    width: 100vw;
  }

  .navButton {
    margin: 0 3vw 0 3vw;
  }

  .welcomeText {
    font-size: 8vw;
    margin: 10vw 10vw 8vw 10vw;
  }
  .welcomeSubText {
    font-size: 4vw;
  }
  .userNavIcon {
    margin: 1vw 2vw 1vw 1vw;
    cursor: pointer;
  }
}
