/* REVIEWS */

#allReviewsHeader {
  font-size: 6vw;
}
.reviewList {
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em 10vw 1em 10vw;
}
.reviewCard {
  margin: 1em 1em 1em 1em;
  list-style: none;
  border-color: #7994df;
  font-size: 0.8em;
  max-width: 100%;
  background-color: #c0cdf0;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 0px;
  box-shadow: 3px 3px #7994df;
  cursor: pointer;
}

.reviewCardText {
  padding: 5px;
}
.reviewCardImage {
  max-width: 100%;
  border-radius: 18px 18px 0px 0px;
}
.expandedReview {
  max-width: 100vw;
}
#expandedReviewImg {
  max-width: 100vw;
  border-radius: 0px 0px 20px 20px;
}

#expandedReviewDesc {
  margin: 1em;
}

.voteButtonContainer {
  margin: 1em 0em 3em 0em;
}
.voteButtons {
  width: 15vw;
  background-color: white;
  margin: 2%;
  border-color: rgb(207, 207, 207);
}

/* DESKTOP FORMATTING */
@media only screen and (min-width: 768px) {
  /* REVIEWS */
  #expandedRevFullPg {
    display: grid;
    grid-template-columns: 70vw 30vw;
    position: fixed;
  }

  /* Make the first column fixed */
  #expandedRevFullPg > :first-child {
    position: sticky;
    top: 0;
    left: 0;
    height: 80vh;
  }

  /* Adjust the second column to fill the remaining space */
  #expandedRevFullPg > :last-child {
    overflow-y: scroll;
    height: 100vh;
  }

  .reviewList {
    margin-top: 2vh;
  }

  .reviewCard {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .expandedReview {
    max-height: 80vh;
    overflow: hidden;
    grid-column: 1;
  }

  #expandedReviewTitle {
    font-size: 2vh;
  }

  #expandedReviewImg {
    max-height: 40%;
    border-radius: 20px 20px 20px 20px;
    margin: 5vh 0em 2em 0em;
  }

  #expandedReviewDesc {
    max-height: 30%;
    max-width: 40%;
    margin: 2vh auto;
    font-size: 1.5vh;
  }
  .expandedRevSubText {
    font-size: 1vh;
  }

  .voteButtonContainer {
    margin: 1em 0em 3em 0em;
  }
  .voteButtons {
    width: 8vh;
    height: 4vh;
    background-color: white;
    margin: 2%;
    border-color: rgb(207, 207, 207);
  }
}
